# Importing Libraries

In [1]:
import pandas as pd
import geopandas as gpd
import contextily as ctx 
import matplotlib.pyplot as plt

# Importing Data

In [2]:
gdf = gpd.read_file('data/acs2019_5yr_B25032_14000US06037702501.geojson')

# Exploring Dataset

In [3]:
gdf.shape

(9, 49)

In [4]:
gdf.head(5)

,geoid,name,B25032001,"B25032001, Error",B25032002,"B25032002, Error",B25032003,"B25032003, Error",B25032004,"B25032004, Error",...,"B25032019, Error",B25032020,"B25032020, Error",B25032021,"B25032021, Error",B25032022,"B25032022, Error",B25032023,"B25032023, Error",geometry
0,14000US06037702400,"Census Tract 7024, Los Angeles, CA",1965.0,99.0,554.0,98.0,364.0,90.0,28.0,23.0,...,90.0,97.0,47.0,98.0,62.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-118.39748 34.02341, -118.3970..."
1,14000US06037702501,"Census Tract 7025.01, Los Angeles, CA",1996.0,135.0,1096.0,171.0,866.0,146.0,56.0,42.0,...,59.0,42.0,47.0,91.0,57.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-118.40522 34.01703, -118.4050..."
2,14000US06037702502,"Census Tract 7025.02, Los Angeles, CA",2016.0,109.0,1255.0,220.0,269.0,125.0,185.0,94.0,...,91.0,163.0,113.0,224.0,133.0,0.0,12.0,85.0,126.0,"MULTIPOLYGON (((-118.39615 34.00715, -118.3958..."
3,14000US06037702600,"Census Tract 7026, Los Angeles, CA",2327.0,74.0,1771.0,160.0,1451.0,170.0,238.0,97.0,...,17.0,28.0,24.0,69.0,75.0,0.0,17.0,0.0,17.0,"MULTIPOLYGON (((-118.40786 33.99212, -118.4077..."
4,14000US06037702700,"Census Tract 7027, Los Angeles, CA",1271.0,67.0,950.0,81.0,836.0,85.0,98.0,46.0,...,39.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-118.41108 34.00312, -118.4109..."

In [27]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
gdf.sample(5)

,geoid,name,B25032001,"B25032001, Error",B25032002,"B25032002, Error",B25032003,"B25032003, Error",B25032004,"B25032004, Error",B25032005,"B25032005, Error",B25032006,"B25032006, Error",B25032007,"B25032007, Error",B25032008,"B25032008, Error",B25032009,"B25032009, Error",B25032010,"B25032010, Error",B25032011,"B25032011, Error",B25032012,"B25032012, Error",B25032013,"B25032013, Error",B25032014,"B25032014, Error",B25032015,"B25032015, Error",B25032016,"B25032016, Error",B25032017,"B25032017, Error",B25032018,"B25032018, Error",B25032019,"B25032019, Error",B25032020,"B25032020, Error",B25032021,"B25032021, Error",B25032022,"B25032022, Error",B25032023,"B25032023, Error",geometry
5,14000US06037702801,"Census Tract 7028.01, Los Angeles, CA",2048.0,142.0,737.0,152.0,551.0,136.0,128.0,72.0,0.0,12.0,27.0,31.0,31.0,36.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,0.0,12.0,1311.0,184.0,231.0,121.0,26.0,31.0,111.0,102.0,347.0,129.0,264.0,138.0,140.0,96.0,83.0,74.0,109.0,97.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-118.41823 34.01211, -118.4179..."
1,14000US06037702501,"Census Tract 7025.01, Los Angeles, CA",1996.0,135.0,1096.0,171.0,866.0,146.0,56.0,42.0,24.0,26.0,41.0,34.0,0.0,12.0,0.0,12.0,0.0,12.0,109.0,72.0,0.0,12.0,0.0,12.0,900.0,192.0,148.0,75.0,39.0,37.0,223.0,135.0,57.0,47.0,210.0,98.0,90.0,59.0,42.0,47.0,91.0,57.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-118.40522 34.01703, -118.4050..."
8,14000US06037703001,"Census Tract 7030.01, Los Angeles, CA",3158.0,149.0,1658.0,220.0,47.0,45.0,305.0,97.0,0.0,17.0,0.0,17.0,35.0,40.0,104.0,97.0,496.0,150.0,629.0,157.0,42.0,43.0,0.0,17.0,1500.0,239.0,0.0,17.0,0.0,17.0,0.0,17.0,25.0,38.0,0.0,17.0,205.0,113.0,568.0,167.0,684.0,191.0,18.0,29.0,0.0,17.0,"MULTIPOLYGON (((-118.39849 33.98813, -118.3984..."
2,14000US06037702502,"Census Tract 7025.02, Los Angeles, CA",2016.0,109.0,1255.0,220.0,269.0,125.0,185.0,94.0,11.0,19.0,79.0,62.0,120.0,79.0,154.0,80.0,211.0,87.0,226.0,85.0,0.0,12.0,0.0,12.0,761.0,241.0,60.0,65.0,89.0,79.0,0.0,12.0,32.0,45.0,13.0,23.0,95.0,91.0,163.0,113.0,224.0,133.0,0.0,12.0,85.0,126.0,"MULTIPOLYGON (((-118.39615 34.00715, -118.3958..."
0,14000US06037702400,"Census Tract 7024, Los Angeles, CA",1965.0,99.0,554.0,98.0,364.0,90.0,28.0,23.0,106.0,86.0,18.0,19.0,28.0,21.0,0.0,12.0,10.0,15.0,0.0,12.0,0.0,12.0,0.0,12.0,1411.0,118.0,254.0,92.0,184.0,64.0,190.0,85.0,200.0,86.0,228.0,90.0,160.0,90.0,97.0,47.0,98.0,62.0,0.0,12.0,0.0,12.0,"MULTIPOLYGON (((-118.39748 34.02341, -118.3970..."

In [6]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 49 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   geoid             9 non-null      object
 1   name              9 non-null      object
 2   B25032001         9 non-null      float64
 3   B25032001, Error  9 non-null      float64
 4   B25032002         9 non-null      float64
 5   B25032002, Error  9 non-null      float64
 6   B25032003         9 non-null      float64
 7   B25032003, Error  9 non-null      float64
 8   B25032004         9 non-null      float64
 9   B25032004, Error  9 non-null      float64
 10  B25032005         9 non-null      float64
 11  B25032005, Error  9 non-null      float64
 12  B25032006         9 non-null      float64
 13  B25032006, Error  9 non-null      float64
 14  B25032007         9 non-null      float64
 15  B25032007, Error  9 non-null      float64
 16  B25032008         9 non-null      float64
 17  B25032008, Error  9 non-null      float64
 18  B25032009         9 non-null      float64
 19  B25032009, Error  9 non-null      float64
 20  B25032010         9 non-null      float64
 21  B25032010, Error  9 non-null      float64
 22  B25032011         9 non-null      float64
 23  B25032011, Error  9 non-null      float64
 24  B25032012         9 non-null      float64
 25  B25032012, Error  9 non-null      float64
 26  B25032013         9 non-null      float64
 27  B25032013, Error  9 non-null      float64
 28  B25032014         9 non-null      float64
 29  B25032014, Error  9 non-null      float64
 30  B25032015         9 non-null      float64
 31  B25032015, Error  9 non-null      float64
 32  B25032016         9 non-null      float64
 33  B25032016, Error  9 non-null      float64
 34  B25032017         9 non-null      float64
 35  B25032017, Error  9 non-null      float64
 36  B25032018         9 non-null      float64
 37  B25032018, Error  9 non-null      float64
 38  B25032019         9 non-null      float64
 39  B25032019, Error  9 non-null      float64
 40  B25032020         9 non-null      float64
 41  B25032020, Error  9 non-null      float64
 42  B25032021         9 non-null      float64
 43  B25032021, Error  9 non-null      float64
 44  B25032022         9 non-null      float64
 45  B25032022, Error  9 non-null      float64
 46  B25032023         9 non-null      float64
 47  B25032023, Error  9 non-null      float64
 48  geometry          9 non-null      geometry
dtypes: float64(46), geometry(1), object(2)
memory usage: 3.6+ KB

In [7]:
list(gdf)

['geoid',
 'name',
 'B25032001',
 'B25032001, Error',
 'B25032002',
 'B25032002, Error',
 'B25032003',
 'B25032003, Error',
 'B25032004',
 'B25032004, Error',
 'B25032005',
 'B25032005, Error',
 'B25032006',
 'B25032006, Error',
 'B25032007',
 'B25032007, Error',
 'B25032008',
 'B25032008, Error',
 'B25032009',
 'B25032009, Error',
 'B25032010',
 'B25032010, Error',
 'B25032011',
 'B25032011, Error',
 'B25032012',
 'B25032012, Error',
 'B25032013',
 'B25032013, Error',
 'B25032014',
 'B25032014, Error',
 'B25032015',
 'B25032015, Error',
 'B25032016',
 'B25032016, Error',
 'B25032017',
 'B25032017, Error',
 'B25032018',
 'B25032018, Error',
 'B25032019',
 'B25032019, Error',
 'B25032020',
 'B25032020, Error',
 'B25032021',
 'B25032021, Error',
 'B25032022',
 'B25032022, Error',
 'B25032023',
 'B25032023, Error',
 'geometry']

# Dropping Data

In [8]:
data_with_no_error = ['geoid',
                      'name',
                      'B25032001',
                      'B25032002',
                      'B25032003',
                      'B25032004',
                      'B25032005',
                      'B25032006',
                      'B25032007',
                      'B25032008',
                      'B25032009',
                      'B25032010',
                      'B25032011',
                      'B25032012',
                      'B25032013',
                      'B25032014',
                      'B25032015',
                      'B25032016',
                      'B25032017',
                      'B25032018',
                      'B25032019',
                      'B25032020',
                      'B25032021',
                      'B25032022',
                      'B25032023',
                      'geometry']

In [9]:
gdf_no_error = gdf[data_with_no_error]

In [10]:
gdf_no_error.head(5)

,geoid,name,B25032001,B25032002,B25032003,B25032004,B25032005,B25032006,B25032007,B25032008,B25032009,B25032010,B25032011,B25032012,B25032013,B25032014,B25032015,B25032016,B25032017,B25032018,B25032019,B25032020,B25032021,B25032022,B25032023,geometry
0,14000US06037702400,"Census Tract 7024, Los Angeles, CA",1965.0,554.0,364.0,28.0,106.0,18.0,28.0,0.0,10.0,0.0,0.0,0.0,1411.0,254.0,184.0,190.0,200.0,228.0,160.0,97.0,98.0,0.0,0.0,"MULTIPOLYGON (((-118.39748 34.02341, -118.3970..."
1,14000US06037702501,"Census Tract 7025.01, Los Angeles, CA",1996.0,1096.0,866.0,56.0,24.0,41.0,0.0,0.0,0.0,109.0,0.0,0.0,900.0,148.0,39.0,223.0,57.0,210.0,90.0,42.0,91.0,0.0,0.0,"MULTIPOLYGON (((-118.40522 34.01703, -118.4050..."
2,14000US06037702502,"Census Tract 7025.02, Los Angeles, CA",2016.0,1255.0,269.0,185.0,11.0,79.0,120.0,154.0,211.0,226.0,0.0,0.0,761.0,60.0,89.0,0.0,32.0,13.0,95.0,163.0,224.0,0.0,85.0,"MULTIPOLYGON (((-118.39615 34.00715, -118.3958..."
3,14000US06037702600,"Census Tract 7026, Los Angeles, CA",2327.0,1771.0,1451.0,238.0,15.0,19.0,13.0,0.0,0.0,22.0,13.0,0.0,556.0,148.0,32.0,0.0,185.0,94.0,0.0,28.0,69.0,0.0,0.0,"MULTIPOLYGON (((-118.40786 33.99212, -118.4077..."
4,14000US06037702700,"Census Tract 7027, Los Angeles, CA",1271.0,950.0,836.0,98.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,321.0,112.0,43.0,9.0,75.0,27.0,55.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-118.41108 34.00312, -118.4109..."

In [34]:
gdf_no_error.columns = ['geoid',
 'name',
 'Total',
 'Owner Occupied Housing Units',
 '1, detached',
 '1, attached',
 '2',
 '3 or 4',
 '5 to 9',
 '10 to 19',
 '20 to 49',
 '50 or more',
 'Mobile Home',
 'Other',
 'Renter Occupied Housing Units',
 '1, detached',
 '1, attached',
 '2',
 '3 to 4',
 '5 to 9',
 '10 to 19',
 '20 to 49',
 '50 or more',
 'Mobile Home',
 'Other',
 'geometry']

In [39]:
gdf_no_error.head(9)

,geoid,name,Total,Owner Occupied Housing Units,"1, detached","1, attached",2,3 or 4,5 to 9,10 to 19,20 to 49,50 or more,Mobile Home,Other,Renter Occupied Housing Units,"1, detached","1, attached",2,3 to 4,5 to 9,10 to 19,20 to 49,50 or more,Mobile Home,Other,geometry
0,14000US06037702400,"Census Tract 7024, Los Angeles, CA",1965.0,554.0,364.0,28.0,106.0,18.0,28.0,0.0,10.0,0.0,0.0,0.0,1411.0,254.0,184.0,190.0,200.0,228.0,160.0,97.0,98.0,0.0,0.0,"MULTIPOLYGON (((-118.39748 34.02341, -118.3970..."
1,14000US06037702501,"Census Tract 7025.01, Los Angeles, CA",1996.0,1096.0,866.0,56.0,24.0,41.0,0.0,0.0,0.0,109.0,0.0,0.0,900.0,148.0,39.0,223.0,57.0,210.0,90.0,42.0,91.0,0.0,0.0,"MULTIPOLYGON (((-118.40522 34.01703, -118.4050..."
2,14000US06037702502,"Census Tract 7025.02, Los Angeles, CA",2016.0,1255.0,269.0,185.0,11.0,79.0,120.0,154.0,211.0,226.0,0.0,0.0,761.0,60.0,89.0,0.0,32.0,13.0,95.0,163.0,224.0,0.0,85.0,"MULTIPOLYGON (((-118.39615 34.00715, -118.3958..."
3,14000US06037702600,"Census Tract 7026, Los Angeles, CA",2327.0,1771.0,1451.0,238.0,15.0,19.0,13.0,0.0,0.0,22.0,13.0,0.0,556.0,148.0,32.0,0.0,185.0,94.0,0.0,28.0,69.0,0.0,0.0,"MULTIPOLYGON (((-118.40786 33.99212, -118.4077..."
4,14000US06037702700,"Census Tract 7027, Los Angeles, CA",1271.0,950.0,836.0,98.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,321.0,112.0,43.0,9.0,75.0,27.0,55.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-118.41108 34.00312, -118.4109..."
5,14000US06037702801,"Census Tract 7028.01, Los Angeles, CA",2048.0,737.0,551.0,128.0,0.0,27.0,31.0,0.0,0.0,0.0,0.0,0.0,1311.0,231.0,26.0,111.0,347.0,264.0,140.0,83.0,109.0,0.0,0.0,"MULTIPOLYGON (((-118.41823 34.01211, -118.4179..."
6,14000US06037702802,"Census Tract 7028.02, Los Angeles, CA",887.0,460.0,438.0,9.0,4.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,427.0,65.0,43.0,32.0,200.0,59.0,10.0,18.0,0.0,0.0,0.0,"MULTIPOLYGON (((-118.42133 34.01037, -118.4205..."
7,14000US06037702803,"Census Tract 7028.03, Los Angeles, CA",1222.0,356.0,315.0,26.0,8.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,866.0,126.0,51.0,22.0,138.0,287.0,99.0,79.0,19.0,45.0,0.0,"MULTIPOLYGON (((-118.44847 33.99336, -118.4475..."
8,14000US06037703001,"Census Tract 7030.01, Los Angeles, CA",3158.0,1658.0,47.0,305.0,0.0,0.0,35.0,104.0,496.0,629.0,42.0,0.0,1500.0,0.0,0.0,0.0,25.0,0.0,205.0,568.0,684.0,18.0,0.0,"MULTIPOLYGON (((-118.39849 33.98813, -118.3984..."

In [31]:
random_tract = gdf_no_error.sample()
random_tract

,geoid,name,Total,Owner Occupied Housing Units,"1, detached","1, attached",2,3 or 4,5 to 10,10 to 19,20 to 49,50 or more,Mobile Home,Other,Renter Occupied Housing Units,"1, detached","1, attached",2,3 to 4,5 to 9,10 to 19,20 to 49,50 or more,Mobile Home,Other,geometry
4,14000US06037702700,"Census Tract 7027, Los Angeles, CA",1271.0,950.0,836.0,98.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,321.0,112.0,43.0,9.0,75.0,27.0,55.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-118.41108 34.00312, -118.4109..."

In [32]:
random_tract.iloc[0]['Total']

1271.0

In [33]:
print(random_tract.iloc[0]['Owner Occupied Housing Units'] + 
      random_tract.iloc[0]['Renter Occupied Housing Units'])

1271.0

In [25]:
gdf_no_error['Total'].describe()

count       9.000000
mean     1876.666667
std       679.180388
min       887.000000
25%      1271.000000
50%      1996.000000
75%      2048.000000
max      3158.000000
Name: Total, dtype: float64